<div>
  <ngx-file-up [labelText]="'Select a file (or multiple) to upload:'" [selectButtonText]="'Choose File(s)'"
    [uploadButtonText]="'Submit'" [allowMultipleFiles]="true" [showUploadButton]="true" [customSvgIcon]="'close_custom'"
    [ngxResetFilesEvent]='emitter'>
  </ngx-file-up>
  <br />
  <br />
  <div>This button will emit an event to remove all the selected files.</div>
  <br />
  <button mat-raised-button color="primary" (click)="resetFiles()" (ngxFileUpReset)="checkevent()">
    Reset Files
  </button>
</div>