<div>
  <ngx-file-up [prompt]="'Upload Files Here'" [promptAllow]="true" [selectBtn]="'Choose File(s)'" [uploadBtn]="'Submit'"
    [multiple]="true" [uploadBtnAllow]="true" [types]="'.pdf, .jpg, .png'" [ngxTriggerReset]='emitter'
    (ngxTriggerSelected)="triggerOnSelected($event)" (ngxTriggerUpload)="triggerOnUpload($event)">
  </ngx-file-up>
  <br />
  <br />
  <div>This button will emit an event to remove all the selected files.</div>
  <br />
  <button class="ripple" (click)="resetFiles()">
    Reset Files
  </button>
</div>